{% extends "KwejkLayoutBundle::layout.html.twig" %}

{% block title %}Dodaj mema{% endblock %}

{% block body %}

<h1>{{ block('title') }}</h1>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="clearfix"></div>

{% endblock %}